@import 'font';

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Roboto Mono', monospace;
  color: #0D1D35;
  
}

button, a, input, li {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  list-style: none;
}

button:hover, a:hover, input:hover, li:hover {
  cursor: pointer;
}