.button {
  color: white;
  width: 100%;
  min-height: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 700;
  transition: all 0.5s;
}

.primary-dark {
  color: #365EFF;
  background: #fff;
}

.primary-light {
  color: #fff;
  background: #365EFF;
  border: 1px solid #fff;
}

.clear {
  color: #0D1D35;
  margin: 0;
  width: auto;
  height: auto;
}

.dashed-dark {
  border: 3px dashed #365EFF;
  color: #365EFF;
  fill: #365EFF;
}

.dashed-light {
  border: 3px dashed #fff;
  color: #fff;
  fill: #fff;
}