
.card {
  width: 300px;
  height: 300px;
  position: relative;
  background: #fff;
  top: 20px;
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

.cloneCard {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 40px;
  border: 3px dashed #9d9d9d;
}

.category {
  width: 110px;
  height: 40px;
  border-radius: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.UXStages {
  color: #F2B96C;
  background: #F2B96C60;
}

.Design {
  color: #6c49ec;
  background: #6c49ec60;
}

.Branding {
  color: #ea8783;
  background: #ea878360;
}

.cardTitle {
  font-size: 16px;
  color: #042b50;
  height: 20px;
  line-height: 1.2;
  width: -webkit-fill-available;
  text-overflow: ellipsis;
}

.cardBlockParagraph {
  width: -webkit-fill-available;
  height: 70px;
}

.cardDescription {
  width: -webkit-fill-available;
  color: #9d9d9d;
  font-size: 14px;
  line-height: 1.2;
  max-height: 70px;
  height: auto;
  text-overflow: ellipsis;
}

.taskCompleteBlock {
  width: 80px;
  height: 30px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #9d9d9d;
  color: #b0b0b2;
  display: flex;
  align-items: center;
  justify-content: space-around;

  svg {
    fill: #b0b0b2;
    transform: scale(1.5);
  }
}

.green {
  background: rgba(15, 176, 150, 0.27);
  border: 1px solid #0FB096;
  color: #0FB096;

  svg {
    fill: #0FB096;
    transform: scale(1.5);
  }
}

.red {
  background: rgba(235, 167, 163, 0.27);
  border: 1px solid #EBA7A3;
  color: #EBA7A3;

  svg {
    fill: #EBA7A3;
    transform: scale(1.5);
  }
}

.cardCategoryTitle {
  display: flex;
  justify-content: space-between;
}

.line {
  width: 300px;
  height: 1px;
  background: #9d9d9d;
  margin: 20px -20px;
}

.users {
  display: flex;
  flex-wrap: nowrap;
}

.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  margin: -10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.user_one {
  background: #ab96ff;
}

.user_two {
  left: 30px;
  background: #ffc297;
}

.user_three {
  left: 60px;
  background: #ea7171;

}

.socialStats {
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  left: 120px;
}

.socialsButtonEye {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  svg {
    fill: #9d9d9d;
    transform: scale(1.4);
  }

  color: #9d9d9d;
}

.socialsButtonComments {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  svg {
    fill: #9d9d9d;
    transform: scale(1.1);

  }

  color: #9d9d9d;
}

.socialsButtonClip {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;

  svg {
    stroke: #9d9d9d;
  }

  color: #9d9d9d;
}

.modal {
  width: 180px;
  height: auto;
  padding: 10px;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.closeModal {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #000;
  font-size: 22px;
}

.buttonDelete {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
}

.buttonDelete:hover {
  background: #e3e2e2;
  transition: all 0.5s
}

.modalInf {
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: #000;
}


.deleteTask {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px;
  overflow-x: auto;
  padding: 10px;
  flex-direction: row;

  .card {
    margin: 20px;
  }

  .listCloneCard {
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 6px;
    padding: 20px;
    box-sizing: border-box;
    margin: 40px 20px 20px 20px;
    border: 3px dashed #9d9d9d;
  }
}

