.Input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.primary {
  color: white;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 0 20px;

}

.primary::placeholder {
  color: #fff;
}

.gray {
  background: #f7f7f7;
  color: #9d9d9d;
  border: none;
  border-radius: 5px;
  padding: 0 60px;
  width: 300px;
}

.gray::placeholder {
  color: #C8C7CB;
}

.blue {
  color: #365EFF;
  border: 2px solid #365EFF;
  border-radius: 10px;
  padding: 0 20px;
}

.blue::placeholder {
  color: rgba(54, 94, 255, 0.63);
}