.kanbanDesk {
  position: absolute;
  left: 400px;
  top: 100px;
  width: -webkit-fill-available;
  overflow: auto;
  height: -webkit-fill-available;
  display: flex;
  background: #f5f4f4;
  flex-direction: column;
}

.desk {
  display: flex;
  position: relative;
  top: 50px;
}